.requests-page {
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 20px 20px 0 20px;
    display: grid;
    grid-template-rows: 50px auto;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__title {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
        }

        &__actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            &--edit {
                background-color: var(--color-secondary);

                &:hover {
                    background-color: var(--color-secondary-hv);
                }
            }

            button {
                padding: 8px 16px;
                color: white;
            }
        }
    }

    &__list {
        &__actions {
            &__btn {
                padding: 0;
                width: 30px;
                height: 35px;
                display: grid;
                place-items: center;
                background-color: transparent;

                &:hover{
                    background-color: var(--color-input-bg);
                }

                img {
                    width: 25px;
                    height: 25px;
                    transform: rotate(90deg);
                }
            }
        }
    }
}