.PublicLayout {
    background-color: var(--color-primary);
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;

    &__logo-container{
        position: relative;
        flex: 1;
        max-height: 100vh;
        padding: 0;
        display: grid;
        place-items: center;
        overflow: hidden;

        img{
            height: 150px;
        }
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 3;
        background-color: white;
        border-radius: 15px 15px 0 0;
        padding: 40px;
        z-index: 1;
        box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: .5);
    }
}

@media screen and (min-width: 600px) {
    .PublicLayout {
        display: grid;
        grid-template-columns: auto minmax(400px, 40%);

        &__logo-container{    
            img{
                width: 90%;
                height: auto;
            }
        }

        &__content {
            flex: none;
            border-radius: 15px 0 0 15px;
            padding: 40px 80px;

            box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: .5);
        }
    }
}
