.protected-layout {
    display: flex;
    width: 100%;
    flex: 1;
    overflow: hidden;
    flex-direction: column;

    &__navBar {
        align-items: center;
        background-color: var(--color-primary);
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: space-between;
        padding: 0 10px;
        position: fixed;
        top: 0;
        width: calc(100% - 20px);
        z-index: 1;
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;

        &__user {
            display: flex;
            flex-direction: column;
            text-align: right;
            margin: 0 10px;
            text-decoration: none;
            font-size: 20px;
            color: var(--color-text);
            font-weight: 500;

            .subtitle {
                font-size: 14px;
                color: var(--color-text);
                font-weight: 200;
            }
        }

        &__menu {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding: 0;
        }

        &__burger-container {
            padding: 5px;
            border-radius: 5px;
        }

        &__burger {
            position: relative;
            width: 30px;
            height: 30px;
            background: transparent;
            cursor: pointer;
            display: block;

            input {
                display: none;
            }

            span {
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                background: var(--color-secondary);
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-of-type(1) {
                    top: 0px;
                    transform-origin: left center;
                }

                &:nth-of-type(2) {
                    top: 50%;
                    transform: translateY(-50%);
                    transform-origin: left center;
                }

                &:nth-of-type(3) {
                    top: 100%;
                    transform-origin: left center;
                    transform: translateY(-100%);
                }
            }

            input:checked {
                ~span:nth-of-type(1) {
                    transform: rotate(45deg);
                    top: 2px;
                    left: 5px;
                }

                ~span:nth-of-type(2) {
                    width: 0%;
                    opacity: 0;
                }

                ~span:nth-of-type(3) {
                    transform: rotate(-45deg);
                    top: 23px;
                    left: 5px;
                }
            }
        }

    }

    &__logo-container {
        display: flex;
        align-items: center;
        width: 250px;
        height: 100%;

        &__logo {
            img {
                width: 150px;
            }
        }

    }

    &__container {
        display: flex;
        margin-top: 50px;
        flex: 1;
        flex-direction: row;
        overflow: hidden;
    }

    &__side-bar {
        padding-top: 10px;
        background-color: var(--color-bg);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        transition: width .2s ease;
        width: 55px;
        min-width: 55px;
        z-index: 1;

        &__menu {
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 250px;
        }

        &__item {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            font-size: 15px;
            color: var(--color-text);
            padding: 5px 17px;
            transition: all .2s ease;

            img {
                width: 25px;
                height: 25px;
            }

            button {
                padding: 0px;
                display: grid;
                place-items: center;
                background-color: transparent;
            }

            &:hover {
                background-color: var(--color-primary);
                color: white;
            }

            &--active {
                background: var(--color-input-border);

                color: white;
                transition: all .2s ease;

                &:hover {
                    background: var(--color-primary);
                }
            }

            &__arrow {
                transition: .5s ease;

                &--open {
                    transform: rotate(180deg);
                    transition: .5s ease;
                }
            }
        }

        &__log-out {
            background-color: transparent;
            border-radius: 0;
            border-top: 2px solid var(--color-input-border);
        }

        &--open {
            width: 250px;
            min-width: 250px;
        }
    }

    &__content {
        flex-grow: 1;
        height: 100%;
        overflow: auto;
    }
}